body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

* {
    font-family: "Inter", sans-serif;
}

.container {
    .d-none {
        display: none;
    }

    header {
        background-image: url('../images/headerbg.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;

        .logo {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1 {
                font-family: "Abril Fatface", serif;
                color: #ffffff;
                font-size: 70px;
                margin: 0;
                font-weight: 400;
                text-transform: uppercase;
            }
        } 

        nav {
            display: flex;
            justify-content: space-between;

            .burger-menu-desk {
                padding-top: 25px;
                padding-left: 10px;
                cursor: pointer;
            }  

            .desktop-menu {
                li {
                    padding-bottom: 10px;
                    padding-left: 20px;
                    list-style: none;

                    a {
                        font-family: "Inter", sans-serif;
                        color: #ffffff;
                        font-size: 25px;
                        text-decoration: none;
                        font-weight: 300;
                    }

                    &:first-child {
                        padding-top: 20px;
                    }

                    &:nth-child(4) {
                        a {
                            font-weight: 800;
                        }
                    }
                }
            }

            .desktop-menu-visible {
                display: none;
            }

            .btn-book {
                margin-top: 15px;
                margin-right: 15px;
                width: 191px;
                height: 50px;
                background: none;
                border: 2px solid #E9C664;
                transition: 0.3s;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    text-transform: uppercase;
                }

                &:hover {
                    background: #E9C664;
                    border: 2px solid #E9C664;

                    a {
                        color: #000000;
                    }
                }
            }
        }
    }
    
    main {
        .news-main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: #212121;
            padding-bottom: 50px;

            .news-text {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-top: 60px;
                padding-bottom: 60px;

                p {
                    text-transform: uppercase;
                    color: #E9C664;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: "Inter", sans-serif;
                    margin: 0;
                }

                h2 {
                    font-family: "Abril Fatface", serif;
                    font-size: 50px;
                    margin: 0;
                    font-weight: 400;
                    color: #ffffff;
                    text-transform: uppercase;
                }
            }

            .news-cards {
                .card {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    .card-inside {
                        background: #000;
                        padding: 36px 50px;
                        height: 200px;

                        h3 {
                            color: #ffffff;
                            font-size: 22px;
                            font-weight: 400;
                            font-family: "Abril Fatface", serif;
                            margin: 0;
                        }

                        p {
                            color: #ffffff;
                            font-family: "Inter", sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                        }

                        button {
                            background: none;
                            border: none;
                            padding: 0;

                            a {
                                color: #E9C664;
                                font-family: "Inter", sans-serif;
                                font-size: 13px;
                                font-weight: 600;
                                text-decoration: none;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .contacts-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                h2 {
                    font-family: "Abril Fatface", serif;
                    font-size: 50px;
                    color: #000000;
                    margin: 0;
                    margin-bottom: 25px;
                    font-weight: 400;
                    margin-top: 60px;
                    text-transform: uppercase;
                }

                p {
                    font-family: "Inter", sans-serif;
                    font-size: 16px;
                    color: #000000;
                    margin: 0;
                    margin-bottom: 80px;
                    font-weight: 400;
                }
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                align-items: center;

                .contact-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        font-family: "Abril Fatface", serif;
                        font-size: 20px;
                        color: #000000;
                        margin: 0;
                        margin-bottom: 15px;
                        margin-top: 15px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }

                    p {
                        font-family: "Inter", sans-serif;
                        font-size: 16px;
                        color: #000000;
                        margin: 0;
                        margin-bottom: 50px;
                        font-weight: 400;
                    }
                }
            }

            .line {
                width: 80%;
                height: 2px;
                background: #E9C664;
                margin-bottom: 50px;
            }
        }

        .copyright {
            margin-bottom: 60px;
        }
    }

    @media screen and (max-width: 575px) {
        .desktop-menu-burger {
            display: none;
        }

        .contacts-text {
            margin: 0 20px;
        }
    }

    @media screen and (min-width: 576px) and (max-width: 768px) {
        header {
            height: 350px;

            nav {
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 20px;

                .desktop-menu-visible {
                    display: flex;
                    justify-content: space-between;

                    li {
                        padding-bottom: 10px;
                        padding-left: 10px;
                        list-style: none;
                        margin-right: 20px;

                        a {
                            font-size: 16px;
                            font-weight: 300;
                            color: #ffffff;
                            text-decoration: none;
                            transition: 0.3s;

                            &:hover {
                                font-weight: 600;
                            }
                        }

                        &:nth-child(4) {
                            a {
                                font-weight: 600;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .btn-book {
                    width: 150px;
                    height: 40px;

                    a {
                        font-size: 14px;
                    }
                }
            }

            .logo {
                h1 {
                    font-size: 50px;
                }
            }
        }

        main {
            .news-main {
                padding-bottom: 30px;

                .news-text {
                    padding-top: 40px;
                    padding-bottom: 40px;

                    p {
                        font-size: 16px;
                    }

                    h2 {
                        font-size: 40px;
                    }
                }

                .news-cards {
                    .card {
                        padding: 15px;

                        img {
                            width: 100%;
                        }

                        .card-inside {
                            padding: 20px 30px;

                            h3 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 14px;
                            }

                            button {
                                a {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            .contacts {
                .contacts-text {
                    width: 90%;
                    margin: 0 20px;

                    h2 {
                        font-size: 40px;
                        margin-top: 40px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 14px;
                        margin-bottom: 50px;
                    }
                }

                .contact-info {
                    width: 90%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    .contact-block {
                        width: 45%;
                        margin-bottom: 30px;

                        h3 {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 14px;
                            margin-bottom: 20px;
                        }
                    }
                }

                .line {
                    width: 90%;
                    margin-bottom: 30px;
                }

                .copyright {
                    margin-bottom: 40px;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        header {
            height: 381px;

            nav {
                margin-left: 72px;
                margin-right: 72px;
                padding-top: 40px;

                .desktop-menu {
                    display: none;
                }

                .desktop-menu-visible {
                    display: flex;
                    justify-content: space-between;

                    li {
                        padding-bottom: 10px;
                        padding-left: 20px;
                        list-style: none;
                        margin-right: 50px;

                        a {
                            font-family: "Inter", sans-serif;
                            color: #ffffff;
                            font-size: 18px;
                            text-decoration: none;
                            font-weight: 300;
                            transition: 0.3s;

                            &:hover {
                                font-size: 20px;
                                font-weight: 800;
                            }
                        }

                        &:nth-child(4) {
                            a {
                                font-weight: 800;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .logo {
                img {
                    width: 50%;
                }
            }
        }

        main {
            .news-main {
                .news-cards {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    width: 80%;
                    margin: 0 auto;
                }

                .card {
                    width: 300px;
                    margin-bottom: 20px;
                }
            }
        }

        footer {
            .contacts {
                .contacts-text {
                    width: 770px;
                }

                .contact-info {
                    justify-content: space-evenly;
                    flex-direction: row;
                    width: 70%;
                }
            }
        }
    }
}

.desktop-menu {
    position: absolute;
    right: -9999px;
    top: 120px;
    width: 100%;
    height: calc(100vh - 60px);
    font-weight: 700;
    font-size: .725rem;
    transition: all .5s ease;

    background-image: url('../images/mainbg.png');
    background-size: cover;
    background-position: center;
}

.desktop-menu__open {
    right: 0;
    transition: all .5s ease;
}

.desktop-menu-burger {
    position: absolute;
    right: -9999px;
    top: 120px;
    width: 100%;
    height: calc(100vh - 60px);
    font-weight: 700;
    font-size: .725rem;
    transition: all .5s ease;

    background-image: url('../images/mainbg.png');
    background-size: cover;
    background-position: center;

    li {
        padding-bottom: 10px;
        padding-left: 20px;
        list-style: none;

        a {
            font-family: "Inter", sans-serif;
            color: #ffffff;
            font-size: 25px;
            text-decoration: none;
            font-weight: 300;
        }

        &:first-child {
            padding-top: 20px;
        }
    }
}

.desktop-menu-burger__open {
    right: 0;
    transition: all .5s ease;
}

html, body {
    width: 100%;
    overflow-x: hidden;    
    position: relative;
}

#deskMenuBurger {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}

#deskMenuBurger.desktop-menu-burger__open {
    transform: translateX(0);
}

#toTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9998;
    width: 50px;
    height: 50px;
    background: #E9C664;
    color: #000;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toTopBtn.visible {
    opacity: 1;
    visibility: visible;
}

#toTopBtn:hover {
    background: #f5d787;
    transform: translateY(-4px);
}

@media (max-width: 768px) {
    #toTopBtn {
        width: 45px;
        height: 45px;
        font-size: 20px;
        bottom: 20px;
        right: 20px;
    }
}